<!DOCTYPE html>
<html>
<head>
  <title>Website Status</title>
  <style>
      .status {
          text-align: center;
          font-size: 18px;
          padding: 10px;
          border: 1px solid #ccc;
          margin: 10px;
      }
      .success {
          background-color: #4CAF50;
          color: white;

      }
      .error {
          background-color: #FF5733;
          color: white;
      }
      .message {
          text-align: center;
      }
  </style>
</head>
<body>
<h1 class = "message">uos의 health check 입니다.</h1>
<% @website_statuses.each do |name, code| %>
  <div class="status <%= ['200', '302'].include?(code) ? 'success' : 'error' %>">
    <%= "#{name} : #{code}" %>
  </div>
<% end %>
</body>
</html>
