<!DOCTYPE html>
<html>
<head>
  <title>Uos Status</title>
  <script src="https://kit.fontawesome.com/209660fc52.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="application.css" type="text/css">
</head>

<body>
  <header>
    <h1 class="message-header">Status of UOS</h1>
    <div class="header-div-container">
      <a href="https://github.com/marsboy02/uos-status">
        <i class="fa-brands fa-github fa-lg" style="margin: 5px; color: black;"></i>
      </a>
      <a href="https://github.com/marsboy02/uos-status">
        <i class="fa-brands fa-readme fa-lg" style="margin: 5px; color: black;"></i>
      </a>
    </div>
  </header>

  <% if @website_statuses.all? { |name, data| ['200','302'].include?(data[0]) } %>
    <p class="status-bar success-bar radius">All system Operational! ✔️</p>
  <% else %>
    <p class="status-bar error-bar radius">All systems not Operational!! ❌</p>
  <% end %>

  <h1 class="message">Current Status</h1>
  <div class="div-container">
    <% @website_statuses.each do |name, data| %>
      <div class="status radius <%= ['200','302'].include?(data[0]) ? 'success' : 'error' %>">
        <div class="description">
          <div class="status-code">
            <%= "#{name}" %>
          </div>
          <div id="normalTooltip">
            <i class="fa-solid fa-circle-question"></i>
            <span id="normalTooltipText">
            <%= "#{data[2]}" %>
          </span>
          </div>
        </div>
        <div class="weblink">
          <a href=<%= data[1] %>>
            <i class="fa-solid fa-arrow-up-right-from-square" style="color: #ffffff;"></i>
          </a>
        </div>
      </div>
    <% end %>
  </div>

  <div id='wrap'>
    <footer>
      <nav>
        <a href="https://marsboy.tistory.com" target="_blank">Blog</a> |
        <a href="https://github.com/marsboy02" target="_blank">Github</a>
      </nav>
      <p>
        <span>저자 : marsboy02</span><br/>
        <span>이메일 : marsboy0619@gmail.com</span><br/>
        <span>Copyright 2023. marsboy02. All Rights Reserved.</span>
      </p>
    </footer>
  </div>

</body>
</html>
