<!DOCTYPE html>
<html>
<head>
  <title>Website Status</title>
  <style>
      .div-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
      .status {
          display: inline-block;
          text-align: center;
          font-size: 18px;
          padding: 10px;
          border: 1px solid #ccc;
          margin: 10px;
      }
      .success {
          background-color: #4CAF50;
          color: white;
      }
      .error {
          background-color: #FF5733;
          color: white;
      }
      .message {
          text-align: center;
      }
      .status-bar {
          text-align: center;
          font-size: 18px;
          padding: 10px;
          border: 1px solid #ccc;
      }

      .success-bar {
          background-color: #4CAF50;
          color: white;
      }

      .error-bar {
          background-color: #FF5733;
          color: white;
      }

      @media (max-width: 768px) {
          .div-container {
              grid-template-columns: 1fr; /* 화면이 768px 미만이면 한 열로 변경 */
          }
      }
  </style>
</head>
<body>
<h1 class="message">Status of UOS</h1>

<% if @website_statuses.all? { |name, code| ['200'].include?(code) } %>
  <p class="status-bar success-bar">All system Operational</p>
<% else %>
  <p class="status-bar error-bar">All systems not Operational</p>
<% end %>

<h1 class="message">Current Status</h1>

<div class="div-container">
  <% @website_statuses.each do |name, code| %>
    <div class="status <%= ['200'].include?(code) ? 'success' : 'error' %>">
      <%= "#{name} : #{code}" %>
    </div>
  <% end %>
</div>
</body>
</html>
