<!DOCTYPE html>
<html>
<head>
  <title>UosStatus</title>
  <script src="https://kit.fontawesome.com/209660fc52.js" crossorigin="anonymous"></script>
  <style>
      .div-container {
          display: flex;
          flex-wrap: wrap;
          margin: 0 10%;
      }
      /*@media (max-width: 768px) {*/
      /*    .div-container {*/
      /*        grid-template-columns: 1fr; !* 화면이 768px 미만이면 한 열로 변경 *!*/
      /*    }*/
      /*}*/

      .div-container > div {
          flex: 0 50%;
      }

      .explain {
        font-size: 20px;
        margin: 0 10%
      }

      .description {

      }

      .weblink {
          display: flex;
          justify-content: flex-end;
      }

      .status {
          display: flex;
          width: 25%;
          box-sizing: border-box;
          text-align: center;
          font-size: 18px;
          padding: 10px;
          border: 1px solid #ccc;
      }

      .success {
          background-color: #4CAF50;
          color: white;
      }

      .error {
          background-color: #FF5733;
          color: white;
      }

      .message {
          text-align: center;
          margin-right: 30px;
          margin-left: 30px;
      }

      .message-header {
          text-align: center;
      }

      .status-bar {
          text-align: center;
          font-size: 24px;
          padding: 10px;
          border: 1px solid #ccc;
          margin-right: 20%;
          margin-left: 20%;
      }

      .success-bar {
          background-color: #4CAF50;
          color: white;
      }

      .error-bar {
          background-color: #FF5733;
          color: white;
      }

      .radius {
          border-radius: 10px;
      }

      html, body {
          margin: 0;
          padding: 0;
          background-color: #f2f2f2;
      }

      header {
          background-color: #FFFFFF;
          padding: 3px 3px;
          border-bottom: 1px solid #ccc;
          position: relative;
      }

      .header-div-container {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translate(-50%, -50%);
      }
      @media (max-width: 768px) {
          .header-div-container {
              display: none; /* 모바일에서는 상단 헤더가 보이지 않음 */
          }
      }

      /* footer 관련 */
      #wrap {
          min-height: 40vh;
          position: relative;
          width: 100%;
      }

      section {
          padding-bottom: 105px;
      }

      footer {
          width: 100%;
          height: 90px;
          bottom: 0px;
          position: absolute;
          border-top: 1px solid #c4c4c4;
          padding-top: 15px;
          color: #808080;
          font-size: 11px;
      }

      footer a {
          display: inline-block;
          margin: 0 20px 10px 20px;
          color: #808080; font-size: 11px;
      }

      footer a:visited {
          color: #808080;
      }

      footer p {
          margin-top: 0; margin-bottom: 0;
      }

      footer p span {
          display: inline-block;
          margin-left: 20px;
      }
  </style>

</head>

<header>
  <h1 class="message-header">Status of UOS</h1>
  <div class="header-div-container">
    <a href="https://github.com/marsboy02/uos-status">Github</a>
    <a href="https://github.com/marsboy02/uos-status">Readme</a>
  </div>
</header>

<body>
  <% if @website_statuses.all? { |name, code| ['200','302'].include?(code) } %>
    <p class="status-bar success-bar radius">All system Operational! ✔️</p>
  <% else %>
    <p class="status-bar error-bar radius">All systems not Operational!! ❌</p>
  <% end %>

  <h1 class="message">Current Status</h1>

  <div class="div-container">
    <% @website_statuses.each do |name, code| %>
      <div class="status radius <%= ['200','302'].include?(code) ? 'success' : 'error' %>">
        <div>
          <%= "#{name} : #{code}    " %>
        </div>
        <div class="description">
          <i class="fa-solid fa-circle-question"></i>
        </div>
        <div class="weblink">
          <a href="https://github.com">
            <i class="fa-solid fa-arrow-up-right-from-square" style="color: #ffffff;"></i>
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <div id='wrap'>
    <footer>
      <nav>
        <a href="https://marsboy.tistory.com" target="_blank">Blog</a> |
        <a href="https://github.com/marsboy02" target="_blank">Github</a>
      </nav>
      <p>
        <span>저자 : marsboy02</span><br/>
        <span>이메일 : marsboy0619@gmail.com</span><br/>
        <span>Copyright 2023. marsboy02. All Rights Reserved.</span>
      </p>
    </footer>
  </div>
</body>
</html>
