<!DOCTYPE html>
<html>
<head>
  <title>UosStatus</title>
  <style>
      .div-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 768px) {
          .div-container {
              grid-template-columns: 1fr; /* 화면이 768px 미만이면 한 열로 변경 */
          }
      }

      .status {
          display: inline-block;
          text-align: center;
          font-size: 18px;
          padding: 10px;
          border: 1px solid #ccc;
          margin: 10px;
      }

      .success {
          background-color: #4CAF50;
          color: white;
      }

      .error {
          background-color: #FF5733;
          color: white;
      }

      .message {
          text-align: center;
          margin-right: 30px;
          margin-left: 30px;
      }

      .status-bar {
          text-align: center;
          font-size: 18px;
          padding: 10px;
          border: 1px solid #ccc;
          margin-right: 25%;
          margin-left: 25%;
      }

      .success-bar {
          background-color: #4CAF50;
          color: white;
      }

      .error-bar {
          background-color: #FF5733;
          color: white;
      }

      html, body {
          margin: 0;
          padding: 0;
          background-color: #f2f2f2;
      }

      #wrap {
          min-height: 50vh;
          position: relative;
          width: 100%;
      }

      section {
          padding-bottom: 105px;
      }

      footer {
          width: 100%;
          height: 90px;
          bottom: 0px;
          position: absolute;
          border-top: 1px solid #c4c4c4;
          padding-top: 15px;
          color: #808080;
          font-size: 11px;
      }

      footer a {
          display: inline-block;
          margin: 0 20px 10px 20px;
          color: #808080; font-size: 11px;
      }

      footer a:visited {
          color: #808080;
      }

      footer p {
          margin-top: 0; margin-bottom: 0;
      }

      footer p span {
          display: inline-block;
          margin-left: 20px;
      }
  </style>
</head>
<body>
<header>
  <h1 class="message">Status of UOS</h1>
</header>

<% if @website_statuses.all? { |name, code| ['200','302'].include?(code) } %>
  <p class="status-bar success-bar">All system Operational</p>
<% else %>
  <p class="status-bar error-bar">All systems not Operational</p>
<% end %>

<h1 class="message">Current Status</h1>

<div class="div-container">
  <% @website_statuses.each do |name, code| %>
    <div class="status <%= ['200','302'].include?(code) ? 'success' : 'error' %>">
      <%= "#{name} : #{code}" %>
    </div>
  <% end %>
</div>
<div id='wrap'>
  <footer>
    <nav>
      <a href="https://marsboy.tistory.com" target="_blank">Blog</a>
      <a href="https://github.com/marsboy02" target="_blank">Github</a>
    </nav>
    <p>
      <span>저자 : marsboy02</span>
      <span>이메일 : marsboy0619@gmail.com</span>
      <span>Copyright 2023. marsboy02. All Rights Reserved.</span>
    </p>
  </footer>
</div>
</body>
</html>
