<!DOCTYPE html>
<html>
<head>
  <title>UosStatus</title>
  <script src="https://kit.fontawesome.com/209660fc52.js" crossorigin="anonymous"></script>
  <style>
      .div-container {
          display: flex;
          flex-wrap: wrap;
          margin: 0 14%;
      }

      #normalTooltip {
          position: relative;
          display: inline-block;
      }

      #normalTooltip #normalTooltipText {
          visibility: hidden;
          width: 400px;
          background-color: #333333;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -200px;
      }

      #normalTooltip #normalTooltipText::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #333333 transparent transparent transparent;
      }

      #normalTooltip:hover #normalTooltipText {
          visibility: visible;
      }

      .div-container > div {
          flex: 0 50%;
      }

      .description {
          display: flex;
      }

      .status {
          display: flex;
          justify-content: space-between;
          width: 25%;
          box-sizing: border-box;
          text-align: center;
          font-size: 20px;
          padding: 12px;
          border: 1px solid #ccc;
      }

      .status-code {
          margin: 0 10px 0 0;
      }

      .success {
          background-color: #4CAF50;
          color: white;
      }

      .error {
          background-color: #FF5733;
          color: white;
      }

      .message {
          text-align: center;
          margin-right: 30px;
          margin-left: 30px;
      }

      .message-header {
          text-align: center;
      }

      .status-bar {
          text-align: center;
          font-size: 24px;
          padding: 12px;
          border: 1px solid #ccc;
          margin-right: 30%;
          margin-left: 30%;
      }

      .success-bar {
          background-color: #4CAF50;
          color: white;
      }

      .error-bar {
          background-color: #FF5733;
          color: white;
      }

      .radius {
          border-radius: 10px;
      }

      /* header 관련 */

      html, body {
          margin: 0;
          padding: 0;
          background-color: #f2f2f2;
      }

      header {
          background-color: #FFFFFF;
          padding: 3px 3px;
          border-bottom: 1px solid #ccc;
          position: relative;
      }

      .header-div-container {
          display: flex;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translate(-50%, -50%);
      }
      @media (max-width: 768px) {
          .header-div-container {
              display: none; /* 모바일에서는 상단 헤더가 보이지 않음 */
          }
      }

      /* footer 관련 */
      #wrap {
          min-height: 35vh;
          position: relative;
          width: 100%;
      }

      section {
          padding-bottom: 105px;
      }

      footer {
          width: 100%;
          height: 90px;
          bottom: 0;
          position: absolute;
          border-top: 1px solid #c4c4c4;
          padding-top: 15px;
          color: #808080;
          font-size: 11px;
      }

      footer a {
          display: inline-block;
          margin: 0 20px 10px 20px;
          color: #808080; font-size: 11px;
      }

      footer a:visited {
          color: #808080;
      }

      footer p {
          margin-top: 0; margin-bottom: 0;
      }

      footer p span {
          display: inline-block;
          margin-left: 20px;
      }
  </style>

</head>

<header>
  <h1 class="message-header">Status of UOS</h1>
  <div class="header-div-container">
    <a href="https://github.com/marsboy02/uos-status">
        <i class="fa-brands fa-github fa-lg" style="margin: 5px; color: black;"></i>
    </a>
    <a href="https://github.com/marsboy02/uos-status">
      <i class="fa-brands fa-readme fa-lg" style="margin: 5px; color: black;"></i>
    </a>
  </div>
</header>

<body>
  <% if @website_statuses.all? { |name, data| ['200','302'].include?(data[0]) } %>
    <p class="status-bar success-bar radius">All system Operational! ✔️</p>
  <% else %>
    <p class="status-bar error-bar radius">All systems not Operational!! ❌</p>
  <% end %>

  <h1 class="message">Current Status</h1>

  <div class="div-container">
    <% @website_statuses.each do |name, data| %>
      <div class="status radius <%= ['200','302'].include?(data[0]) ? 'success' : 'error' %>">
        <div class="description">
          <div class="status-code">
            <%= "#{name}" %>
          </div>
          <div id="normalTooltip">
            <i class="fa-solid fa-circle-question"></i>
            <span id="normalTooltipText">
            <%= "#{data[2]}" %>
          </span>
          </div>
        </div>
        <div class="weblink">
          <a href=<%= data[1] %>>
            <i class="fa-solid fa-arrow-up-right-from-square" style="color: #ffffff;"></i>
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <div id='wrap'>
    <footer>
      <nav>
        <a href="https://marsboy.tistory.com" target="_blank">Blog</a> |
        <a href="https://github.com/marsboy02" target="_blank">Github</a>
      </nav>
      <p>
        <span>저자 : marsboy02</span><br/>
        <span>이메일 : marsboy0619@gmail.com</span><br/>
        <span>Copyright 2023. marsboy02. All Rights Reserved.</span>
      </p>
    </footer>
  </div>
</body>
</html>
